.image-login{
    background-image: url('../../assets/img/uberimg1.webp');
    background-size: cover;

}
.image-customDrive{
    background-image: url('../../assets/img/uberimg2.webp');
    background-size: cover;

}
.image-business{
    background-image: url('../../assets/img/uberimg3.webp');
    background-size: cover;
}
.image-renting{
    background-image: url('../../assets/img/uberimg4.webp');
    background-size: cover;
 
}
.h-500-self{
    height:500px;
}
.spacingInContent{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: start;
    
}
.getStarted:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 2px rgb(119, 119, 119,0.5);
}
